{{#if err}}
<section class="hero is-medium is-warning is-bold">
      <div class="columns is-mobile">
          <div class="column">
        <div class="container has-text-white has-text-centered">Error 404: This file is not uploaded by the user!</div> 
        </div>
      </div>
</section>
{{/if}}
{{#if noresult}}
<section class="hero is-medium is-warning is-bold">
      <div class="columns is-mobile">
          <div class="column">
        <div class="container has-text-white has-text-centered">No record found!</div> 
        </div>
      </div>
</section>
{{/if}}
{{#if errors}}
      {{#each errors}}
      <section class="hero is-medium is-warning is-bold">
      <div class="columns is-mobile">
          <div class="column">
        <div class="container has-text-white has-text-centered">{{msg}}</div> 
        </div>
        </div>
        </section>
      {{/each}}
{{/if}}
<section class="hero is-small is-info is-bold">
      <div class="columns is-mobile">
          <div class="column">
        <div class="container has-text-white has-text-centered">Welcome to your dashboard : <u>{{user.username}}</u></div> 
        </div>
      </div>
</section>
<section class="hero is-medium is-dark is-bold">
    <div class="column is-4 is-offset-4">
      <div class="box has-background-white has-text-centered has-text-white">
      <form id="new-reg" action='/users/pendingregistration' method='post'>
        <button class="button is-link" id="new-reg-submit">Pending Registrations</button>
      </form>
      </div>
    </div>
    <div class="columns">
    <div class="column is-half">
      <div class="box has-background-white has-text-white">
        <div class="has-text-centered is-size-3 has-text-primary">
          Search
          <hr>
        </div>
     <form class="form-basic" action='/users/search' method="post">        
        <div class="field">
          <p class="control">
            <label class="label has-text-danger">Search By</label>
           <span class="select">
                <select name="criteria" class="form-control" onchange="showDiv(this)" required>
                        <option value="">Select Search Criteria</option>
                        <option value="fname">First Name</option>
                        <option value="lname">Last Name</option>
                        <option value="dname">Father's Name</option>
                        <option value='mname'>Mother's Name</option>
                        <option value='email'>Email Address</option>
                        <option value='yoj'>Year of Joining</option>
                        <option value='phone'>Phone Number</option>
                        <option value='coerid'>COER ID</option>
                        <option value='branch'>Branch</option>
                        <option value='course'>Course</option>
                        <option value='hostel'>Hosteler</option>
                  </select>
           </span>
           </p>
        </div>
        <div class="field " >
          <p class="control">
            <label class="label has-text-danger">Keyword (case sensitive)</label>
            <input class="input" name="search" id="search" type="text" placeholder="Keyword">
          </p>
        </div>
        
        <div class="field" id="hidden_div0" style="display: none;">
          <p class="has-text-danger has-text-weight-bold is-italic">OR CHOOSE</p> <br>
          <p class="control">
          <span class="select">
              <select name="search" id="search">
              <option value="">Select Course</option>
              <option value="B.Tech">B.Tech</option>
              <option value="M.Tech">M.Tech</option>
              </select>
              </span></p>
        </div>
        <div class="field" id="hidden_div1" style="display: none;">
         <p class="has-text-danger has-text-weight-bold is-italic">OR CHOOSE</p><br>
          <p class="control">
          <span class="select">
          <select name="search" id="search" class="form-control">
            <option value="">Select Branch</option>
            <option value="Computer Science and Engineering">Computer Science and Engineering</option>
            <option value="Information Technology">Information Technology</option>
            <option value="Electronics and Telecommuication">Electronics and Telecommunication</option>
            <option value="Electrical and Electronics Engineering">Electrical and Electronics Engineering</option>
            <option value="Mechanical Engineering">Mechanical Engineering</option>
            <option value="Civil Engineering">Civil Engineering</option>
            <option value="Plastic and Polymer">Plasic and Polymer</option>
            <option value="Applied Electronics and Instrumentation">Applied Electronics and Instrumentation</option>
          </select>
          </span></p>
        </div>
        
         <div  class="field has-addons has-addons-centered" id="hidden_div2" style="display: none;">
          <p class="control">
            <p class="has-text-danger has-text-weight-bold is-italic">OR CHOOSE</p><br>
              <span class="select">
                  <select name="search" id="search">
                    <option value="">Hostel?</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
           </span>
          </p>
        </div>
        <br>
        <div class="field">
          <p class="control">
         <center>  <button type="submit" class="button is-success">
              Search
            </button></center>
          </p>
        </div>
        </form>
        </div>
    </div>
    <div class="column is-half">
      <div class="box has-background-white">
        <div class="has-text-centered is-size-3 has-text-primary">
           Download Spreadseet
           <hr>
           </div>
           <div class="columns">
            <div class="column">
            <p class="has-text-danger has-text-weight-bold">SELECT</p>
            <br>
            <form action="/users/downloadsheet" method="post">
              <input type="checkbox" name="select" value="fname">  First Name<br>
              <input type="checkbox" name="select" value="lname">  Last Name<br>
              <input type="checkbox" name="select" value="dname">  Father's Name<br>
              <input type="checkbox" name="select" value="mname">  Mother's Name<br>
              <input type="checkbox" name="select" value="coerid">  COER ID<br>
              <input type="checkbox" name="select" value="address">  Address<br>
              <input type="checkbox" name="select" value="day">  Day<br>
              <input type="checkbox" name="select" value="month">  Month<br>
              <input type="checkbox" name="select" value="year">  Year<br>
              <input type="checkbox" name="select" value="phone">  Phone Number<br>
              <input type="checkbox" name="select" value="pincode">  Pincode<br>
              <input type="checkbox" name="select" value="state">  State<br>
              <input type="checkbox" name="select" value="yoj">  Year of Joining<br>
              <input type="checkbox" name="select" value="hostel">  Hosteler<br>
              <input type="checkbox" name="select" value="course">  Course<br>
              <input type="checkbox" name="select" value="branch">  Branch<br>
              <input type="checkbox" name="select" value="section">  Section<br>
              <input type="checkbox" name="select" value="email">  Email<br>
            </div>
            <div class="column has-addons has-addons-centered">            
            <p class="has-text-danger has-text-centered has-text-weight-bold">WHERE (case sensitive)</p>
            <br>
              <input class="input" style="text-transform: capitalize;" type="text" placeholder="First Name" name="fname">
              <input class="input" style="text-transform: capitalize;" type="text" placeholder="Last Name" name="lname">
              <input class="input" style="text-transform: capitalize;" type="text" placeholder="Father's Name" name="dname">
              <input class="input" style="text-transform: capitalize;" type="text" placeholder="Mother's Name" name="mname">
              <input class="input" type="text" placeholder="Pincode" name="pincode">
              <input class="input" type="text" placeholder="Year of Joining" name="yoj">
                 <span class="select">
                <select name="state">
                <option value="">Select State</option>
                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                <option value="Daman and Diu">Daman and Diu</option>
                <option value="Delhi">Delhi</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Lakshadweep">Lakshadweep</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Orissa">Orissa</option>
                <option value="Pondicherry">Pondicherry</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="West Bengal">West Bengal</option>
                </select>
            </span>
                <span class="select">
                  <select name="hostel">
                    <option value="">Hosteler?</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </span>
            <span class="select">
              <select name="course">
              <option value="">Select Course</option>
              <option value="B.Tech">B.Tech</option>
              <option value="M.Tech">M.Tech</option>
              </select>
            </span>
              <span class="select">
                <select name="branch" class="form-control">
                  <option value="">Select Branch</option>
                  <option value="Computer Science and Engineering">Computer Science and Engineering</option>
                  <option value="Information Technology">Information Technology</option>
                  <option value="Electronics and Telecommuication">Electronics and Telecommunication</option>
                  <option value="Electrical and Electronics Engineering">Electrical and Electronics Engineering</option>
                  <option value="Mechanical Engineering">Mechanical Engineering</option>
                  <option value="Civil Engineering">Civil Engineering</option>
                  <option value="Plastic and Polymer">Plasic and Polymer</option>
                  <option value="Applied Electronics and Instrumentation">Applied Electronics and Instrumentation</option>
              </select>
              <span class="select">
              <select name="section">
              <option value="">Select Section</option>
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
              <option value="E">E</option>
              <option value="F">F</option>
              <option value="G">G</option>
              <option value="H">H</option>
              <option value="I">I</option>
              <option value="J">J</option>
              <option value="K">K</option>
              <option value="L">L</option>
              <option value="M">M</option>
              <option value="N">N</option>
            </select>
           </span>
                </div>
           </div>
           <hr>
             <center><button type="submit" class="button is-success">
              Download
            </button></center>
            </form>
           
        </div>
    </div>
    </div>
    <hr>
</section>



