<button class="button is-warning is-fullwidth" class="dropbtn"><a href="/users/studentdashboard">My Dashboard</a></button>
<section class="hero is-medium is-dark is-bold">
  <div class="hero-body">
    <div class="column is-4 is-offset-4">
      <div class="box has-background-white has-text-white">
        <div class="has-text-centered is-size-3 has-text-primary">
          <h1 >Change Password</h1>
          <hr>
        </div>
       <form class="form-basic" action="/users/matchpassword" method="post">

        <div class="field has-addons has-addons-centered">
          <p class="control">
            <label class="label has-text-danger">Enter new password</label>
            <input class="input" type="password" name="password" id="password" placeholder="Password"><br>
            <input type="hidden" name="email" id="email" value={{email}}>
          </p>
        </div>
        <div class="field has-addons has-addons-centered">
          <p class="control">
            <label class="label has-text-danger">Repeat your password</label>
            <input class="input" name="password2" id="password2" type="password" placeholder="Password">
          </p>
        </div>
        <br>
        <div class="field">
          <p class="control">
           <center><button type="submit" class="button is-success">
              Submit
            </button>
                        </center> 
          </p>
        </div>
        </form>
        </div>
    </div>
  </div>
</section>