<section class="hero is-dark is-bold is-large">
	<div class='hero-body'>
<link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">
<div class="column has-background-white is-three-fifths has-text-dark is-offset-one-fifth">
				<p class="is-size-2 has-text-danger">404</p>
				<p class="is-size-3 has-text-dark">PAGE NOT FOUND</p>
				<br>
				<button class="button is-danger"><a href="/users/home">Go to Homepage</a></button>
</div>
</section>