{{#if auth}}
        <section class="hero is-medium is-warning is-bold">
      <div class="columns is-mobile">
          <div class="column">
             <div class="container has-text-white has-text-centered"> 
           <strong>Your session timed out!</strong>   
           <br>
             </div>  
          </div>
      </div>  
  </section>
{{/if}} 
<section class="hero is-dark is-large">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Welcome to Scientia
      </h1>
    </div>
  </div>
</section>
