<section class="hero is-medium is-dark is-bold">
  <div class="hero-body">
    <div class="column is-4 is-offset-4">
      <div class="box has-background-white has-text-white">
        <div class="has-text-centered is-size-3 has-text-primary">
          <h1 >Student Login</h1>
          <hr>
        </div>
        <form class="form-basic" action="/userauthentication/studentlogin" method="post">
        
        <div class="field has-addons has-addons-centered">
          <p class="control">
            <label class="label has-text-danger">Email</label>
            <input class="input" name="username" id="username" type="text" placeholder="Email Address">
          </p>
        </div>
        <div class="field has-addons has-addons-centered">
          <p class="control">
            <label class="label has-text-danger">Password</label>
            <input class="input" name="password" id="password" type="password" placeholder="Password">
          </p>
        </div>
        <br>
        
        <div class="field">
          <p class="control">
           <center><button type="submit" class="button is-success">
              Login
            </button>
            <button class="button is-warning"><a href="/userauthentication/forgotpassword/">forgot password?</a></button>
            </center> 
          </p>
        </div>
        </form>
        </div>
    </div>
  </div>
</section>
